.mnav {
  height: 70px;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.nav-icon {
  font-size: 30px;
  color: mediumaquamarine;
}
/* details img */

/* modal */
#detailCard {
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  position: fixed;

  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
